
DJANGO_PATH = ""
ADMIN_TEMPLATE_DIR = DJANGO_PATH + "django/contrib/admin/templates"
ADMIN_MEDIA_ROOT = DJANGO_PATH + "django/contrib/admin/media"
ROOT_URL = ''

ADMINS = (
	('Name', 'email'),
)
MANAGERS = ADMINS
MEMBERSHIP_MANAGERS = ADMINS

DEFAULT_FROM_EMAIL = "NO-REPLY@jebif.fr"
SERVER_EMAIL = "admin@jebif.fr"


# $ python -c 'import random; print "".join([random.choice("abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)") for i in range(50)])'
SECRET_KEY = ''

