
DJANGO_PATH = ""
ADMIN_TEMPLATE_DIR = DJANGO_PATH + "django/contrib/admin/templates"
ADMIN_MEDIA_ROOT = DJANGO_PATH + "django/contrib/admin/media"
ROOT_URL = ''

# $ python -c 'import random; print "".join([random.choice("abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)") for i in range(50)])'
SECRET_KEY = ''

